USE [master]
GO
/****** Object:  Database [FerreteriaDB]    Script Date: 19/12/2025 22:44:42 ******/
CREATE DATABASE [FerreteriaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FerreteriaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\FerreteriaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FerreteriaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\FerreteriaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FerreteriaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FerreteriaDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 19/12/2025 22:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Venta]    Script Date: 19/12/2025 22:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Venta](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 19/12/2025 22:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 19/12/2025 22:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Ruc] [varchar](11) NOT NULL,
	[RazonSocial] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Direccion] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/12/2025 22:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Dni] [varchar](20) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Password] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 19/12/2025 22:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion]) VALUES (1, N'Herramientas', N'Manuales y eléctricas')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion]) VALUES (2, N'Pinturas', N'Interiores y exteriores')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion]) VALUES (3, N'Electricidad', N'Cables, interruptores y focos')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Venta] ON 

INSERT [dbo].[Detalle_Venta] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 1, CAST(25.50 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Venta] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 1, 1, 49, CAST(25.50 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Venta] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 2, 14, 1, CAST(850.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_Venta] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Precio], [Stock], [IdCategoria], [IdProveedor]) VALUES (1, N'Martillo 16oz', CAST(29.00 AS Decimal(10, 2)), 42, 1, 4)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Precio], [Stock], [IdCategoria], [IdProveedor]) VALUES (2, N'Taladro Percutor', CAST(150.00 AS Decimal(10, 2)), 16, 1, 1)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Precio], [Stock], [IdCategoria], [IdProveedor]) VALUES (3, N'Galón Pintura Blanca', CAST(40.00 AS Decimal(10, 2)), 31, 2, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IdProveedor], [Ruc], [RazonSocial], [Telefono], [Direccion]) VALUES (1, N'20123456789', N'Distribuidora Aceros SA', N'999888777', NULL)
INSERT [dbo].[Proveedores] ([IdProveedor], [Ruc], [RazonSocial], [Telefono], [Direccion]) VALUES (2, N'20555666777', N'Importaciones El Rayo SAC', N'987654321', N'Av. Argentina 456, Lima')
INSERT [dbo].[Proveedores] ([IdProveedor], [Ruc], [RazonSocial], [Telefono], [Direccion]) VALUES (3, N'20444333222', N'Sanitarios del Perú SRL', N'912345678', N'Jr. Paruro 890, Cercado')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Dni], [Telefono], [Password], [Rol]) VALUES (2, N'Achalmadda', N'99999999', N'929195532', N'$2y$10$gr354NRMaRSRHu3j/bpOv.lyrGE0cG29LOC4Dag8vb8W1aS7CVY3i', N'Cliente')
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Dni], [Telefono], [Password], [Rol]) VALUES (3, N'Olita', N'76654442', N'922454122', N'$2y$10$WZf1rf3QeDbbYF57THu4s../f7pCLX9Xe.cRSJfZoR3IeNrQqNp76', N'Cliente')
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Dni], [Telefono], [Password], [Rol]) VALUES (5, N'Henry Santana', N'77773333', N'919191911', N'$2y$10$WWjWtDzqVQa4KTMKqjEKPOZZzUSWM1yLhb6zivuOX4z8TWqNe2cF2', N'Cliente')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([IdVenta], [IdUsuario], [Fecha], [Total]) VALUES (1, 2, CAST(N'2025-12-16T10:54:05.770' AS DateTime), CAST(1275.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([IdVenta], [IdUsuario], [Fecha], [Total]) VALUES (2, 3, CAST(N'2025-12-16T10:57:25.490' AS DateTime), CAST(4550.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([IdVenta], [IdUsuario], [Fecha], [Total]) VALUES (3, 5, CAST(N'2025-12-16T11:56:54.783' AS DateTime), CAST(56.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Proveedo__CAF03673417870B6]    Script Date: 19/12/2025 22:44:43 ******/
ALTER TABLE [dbo].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[Ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__C0308575F4B1D763]    Script Date: 19/12/2025 22:44:43 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
USE [master]
GO
